<main class="contenedor">
    <div>
        <h2>Lista de Ingresos</h2>
        <br>
        {{#each losIngresos}}
        <div class="campo">
            <label for="ingreso">{{nombre}} : L.</label>
            <input type="text" name="ingreso" placeholder="{{cantidad}}" disabled>
            <br><br>
        </div>

        {{/each}}
        <div class="campo">
            <label for="ingreso">Total de Ingresos: L.</label>
            <input type="text" name="ingreso" placeholder="{{ingreso}}" disabled>
            <br><br>
        </div>

        <h2>Lista de Egresos</h2>
        <br>
        {{#each losEgresos}}
        <div class="campo">
            <label for="egreso">{{nombre}}: L.</label>
            <input type="text" name="egreso" placeholder="{{cantidad}}" disabled>
            <br><br>
        </div>

        {{/each}}
        <div class="campo">
            <label for="egreso">Total de Egresos: L.</label>
            <input type="text" name="egreso" placeholder="{{egreso}}" disabled>
            <br><br>
        </div>
        <br>
        <h2>Totales</h2>
        <div class="campo">
            <label for="monto">Monto restante: L.</label>
            <input type="text" name="monto" placeholder="{{restante}}" disabled>
            <br><br>
        </div>
        <h3>Observación: {{observacion}}</h3>
    </div>
    <br>
    <button class="retorno"><a href="/principal">Regresar</a></button>
</main>