<main class="contenedor">
    <div>
        <h2>Lista de Ingresos</h2>
        <br>
        {{#each losIngresos}}
        <div class="">
            <h3>{{nombre}}: L. {{cantidad}}</h3>
        </div>

        {{/each}}
        <h3>Total Ingresos: L. {{ingreso}}</h3>
        <br><br>
        <h2>Lista de Egresos</h2>
        <br>
        {{#each losEgresos}}
        <div class="">
            <h3>{{nombre}}: L. {{cantidad}}</h3>
        </div>

        {{/each}}
        <h3>Total Egresos: L. {{egreso}}</h3>

        <br>
        <h3>Monto restante: L. {{restante}}</h3>
        <h3>Observación: {{observacion}}</h3>
    </div>
    <br>
    <button class="retorno"><a href="/">Regresar</a></button>
</main>